:root {
    --primary-color: #1047c6;
    --secondary-color: #fffefa;
    --tertiary-color: #08225f;
}

* {
    box-sizing: border-box;
}

section {
    padding: 2rem 20%;
    margin: 0 auto;
}

img {
    border: none;
    max-width: 100%;
}
