:root {
    --primary-color: #44487c;
    --secondary-color: #fffefa;
    --tertiary-color: #161b22;
}

* {
    box-sizing: border-box;
}

section {
    padding: 2rem 1rem;
    margin: 0 auto;
}

img {
    border: none;
    max-width: 100%;
}

.my-modal {
    max-width: 800px;
}

.form-check-label,
.form-check-input {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    section {
        padding: 2rem 20%;
        margin: 0 auto;
    }
}
